@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./senaii.webp') ;
    background-size: cover;
    background-position: center;
}

.container {
   width: 550px;
   background-color: rgb(2, 11, 94);
   border: 2px solid  rgba(255, 255, 255, 0);;
   border-radius: 2px;
   color: #ffffffde;
   padding: 290px 300px;
   margin-right: 950px;
   box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.container h1 {
    font-size: 50px;
    text-align: center;
    
}

.input-box {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: #171246dc;
    border: 3px solid rgba(2, 11, 94, 0);
    border-radius: 15px;
    outline: none;
    font-size: 15px;
    color: #ffffff;
    padding: 20px 30px 20px 20px;

}

.input-box input::placeholder {
    color:  rgb(255, 255, 255);

}
.input-box i {
    position: relative;
    right: 20px;
    top: 27%;
    font-size: 20px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}
/*
   margin & padding

   1 valor - margin: 20px - Todos os lados
   2 valores - margin: 20px 30px Em cima e embaixo, dos lados 
   3 valores - padding: 20px 10px 30px - Em cima, dos lados, embaixo
   4 valores - margin: 10px 30px 12px 33px - em cima, direita. embaixo. esquerda
*/

.remember-forgot label input {
    accent-color: white;
    margin-right: 5px;
}

.remember-forgot a {
    text-decoration: none;
    color:  #fbff00a6;
}

.remember-forgot a :hover {
    text-decoration: underline;
}

.login {
    width: 100%;
    height: 50px;
    background-color: #ffffffde;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #171246de;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.login:hover {
    background-color: white;
    border: 2px solid rgba(0, 0, 0, .2);


}