@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./senaii.webp') ;
    background-size: cover;
    background-position: center;
}

.container {
   width: 420px;
   background-color: rgb(1, 8, 75);
   border: 2px solid  rgba(255, 255, 255, 0);;
   border-radius: 10px;
   color: #ffffffde;
   padding: 30px 40px;
   margin-right: 900px;
}
