@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background: url('industria.jpg') ;
    background-size: cover;
    background-position: center;
}

.container {
   width: 40%;
   min-height: 100vh;
   background-color: rgba(255, 255, 255, 0.87);
   border: none;
   color: #309ef8de;
   padding: 40px;
   box-shadow: 0 0 10px #309ef8de;
   display: flex;
   align-items: center;
}

.container form {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

.container h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: #309ef8de;
    border: 3px solid #309ef8de;
    border-radius: 15px;
    outline: none;
    font-size: 15px;
    color: #ffffffde;
    padding: 15px 30px 15px 50px;
}

.input-box input::placeholder {
    color:  #ffffff;
}

.input-box i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #ffffffde;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 25px;
    font-size: 14px;
}

.remember-forgot label input {
    accent-color: #309ef8de;
    margin-right: 5px;
}

.remember-forgot a {
    text-decoration: none;
    color: #309ef8de;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login {
    width: 100%;
    height: 50px;
    background-color: #309ef8de;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #ffffffde;
    font-weight: 600;
    box-shadow: 0 0 10px #ffffffde;
    margin-bottom: 20px;
}

.login:hover {
    background-color: white;
    border: 2px solid #309ef8de;
}

.register-link {
    text-align: center;
    font-size: 14px;
}

.register-link a {
    color: #309ef8de;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
